{% extends "error/index.html" %}

{% block icon_class %}glyphicon-warning-sign{% endblock %}

{% block en_title %}
	<h1>Warning</h1>
{% endblock %}

{% block de_title %}
	<h1>Warnung</h1>
{% endblock %}
