{% extends "error/index.html" %}

{% block icon %}
	<div style="float: left; width: 160px; height: 100%; background: #f5f5f5 url(background.png) left bottom no-repeat; background-size: 100%;">
		<center><span class="glyphicon glyphicon-globe" style="margin-top: 20px; font-size: 96px; color: #77f"></span></center>
	</div>
{% endblock %}

{% block en_message %}
	{{en_message or '<h3>Login</h3>'}}
	<form style="margin: 0">
		<input type="hidden" name="action" value="submit" />

		<p class="input-group input-group-sm">
			<span class="input-group-addon" id="basic-addon1"></span>
			<input class="form-control" placeholder="Hostname/IP-Address[:port]" aria-describedby="basic-addon1" type="text" name="hostname">
		</p>

		<p class="input-group input-group-sm">
			<span class="input-group-addon" id="basic-addon1"></span>
			<input class="form-control" placeholder="Domain" aria-describedby="basic-addon1" type="text" name="domain">
		</p>

		<p class="input-group input-group-sm">
			<span class="input-group-addon" id="basic-addon1"></span>
			<input class="form-control" placeholder="Username" aria-describedby="basic-addon1" type="text" name="login">
		</p>

		<p class="input-group input-group-sm">
			<span class="input-group-addon" id="basic-addon1"></span>
			<input class="form-control" placeholder="Password" aria-describedby="basic-addon1" type="password" name="password">
		</p>

		<div align="right">
			<a class="btn btn-sm" href="?action=close">Cancel</a>
			<input class="btn btn-primary btn-sm" type="submit" value="Login" />
		</div>
	</form>
{% endblock %}

{% block de_message %}
	{{de_message or '<h3>Einloggen</h3>'}}
	<form style="margin: 0">
		<input type="hidden" name="action" value="submit" />

		<p class="input-group input-group-sm">
			<span class="input-group-addon" id="basic-addon1"></span>
			<input class="form-control" placeholder="Hostname/IP-Adresse[:Port]" aria-describedby="basic-addon1" type="text" name="hostname">
		</p>

		<p class="input-group input-group-sm">
			<span class="input-group-addon" id="basic-addon1"></span>
			<input class="form-control" placeholder="Domainname" aria-describedby="basic-addon1" type="text" name="domain">
		</p>

		<p class="input-group input-group-sm">
			<span class="input-group-addon" id="basic-addon1"></span>
			<input class="form-control" placeholder="Benutzername" aria-describedby="basic-addon1" type="text" name="login">
		</p>

		<p class="input-group input-group-sm">
			<span class="input-group-addon" id="basic-addon1"></span>
			<input class="form-control" placeholder="Passwort" aria-describedby="basic-addon1" type="password" name="password">
		</p>

		<div align="right">
			<a class="btn btn-sm" href="?action=close">Abbrechen</a>
			<input class="btn btn-primary btn-sm" type="submit" value="Einloggen" />
		</div>
	</form>
{% endblock %}

{% block footer %}
{% endblock %}

{% block en_footer %}
{% endblock %}

{% block de_footer %}
{% endblock %}
