{% extends "error/index.html" %}

{% block icon %}
	{# Links: https://projects.lukehaas.me/css-loaders/ #}
	<style type="text/css">
		.spinner { margin: 23px 30px 0; border: 0px solid red; }
		.spinner > div { float: left; margin-right: 9px; width: 3px; background: #77f; }
		.spinner > div:last-child { margin-right: 0; }

		.spinner > div:nth-child(1) { -webkit-animation-delay: -0.90s; }
		.spinner > div:nth-child(2) { -webkit-animation-delay: -0.80s; }
		.spinner > div:nth-child(3) { -webkit-animation-delay: -0.70s; }
		.spinner > div:nth-child(4) { -webkit-animation-delay: -0.60s; }
		.spinner > div:nth-child(5) { -webkit-animation-delay: -0.50s; }
		.spinner > div:nth-child(6) { -webkit-animation-delay: -0.40s; }
		.spinner > div:nth-child(7) { -webkit-animation-delay: -0.30s; }
		.spinner > div:nth-child(8) { -webkit-animation-delay: -0.20s; }
		.spinner > div:nth-child(9) { -webkit-animation-delay: -0.10s; }
		.spinner > div { -webkit-animation: swinging_wave_animation 1.7s infinite ease-in-out; }
		@-webkit-keyframes swinging_wave_animation { 0%, 100%, 100% { margin-top: 25px; height: 0px; } 50% { margin-top: 0; height: 50px; } }
		@-webkit-keyframes swinging_columns_animation { 0%, 100%, 100% { margin-top: 50px; height: 0px; } 50% { margin-top: 0; height: 50px; } }
	</style>

	<div style="float: left; width: 160px; height: 100%; background: #f5f5f5 url(background.png) left bottom no-repeat; background-size: 100%;">
		<div class="spinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
	</div>
{% endblock %}

{% block en_message %}
	{{en_message or '<h3>Processing...</h3>'}}
{% endblock %}

{% block de_message %}
	{{de_message or '<h3>Im Prozeß...</h3>'}}
{% endblock %}

{% block footer %}
{% endblock %}

{% block en_footer %}
{% endblock %}

{% block de_footer %}
{% endblock %}
