{% extends "error/index.html" %}

{% block icon_class %}glyphicon-info-sign{% endblock %}

{% block en_message %}
	<h1>Display detection</h1>
{% endblock %}

{% block de_message %}
	<h1>Displayerkennung</h1>
{% endblock %}

