<!DOCTYPE html>
<html>

<head>
	<style>
		* { box-sizing: border-box; margin: 0; padding: 0; }
		html, body { height: 100%; }
		body { font: normal 12pt "Free Sans"; color: #337ab7 }
		h1 { font-size: 48pt; }
	</style>
	
</head>

<body>
	<div style="height: 100%; border: 10px solid #ccc">
		<div style="overflow: auto; height: 100%; padding: 14px 20px 0; background: #fff">
			<h1 style="float: left; text-align: right">#{{index}}</h1>
			<div style="padding: 18px 0 0">
				<pre style="text-align: right">Connection: <strong>{{connection_name}}</strong></pre>
				<pre style="text-align: right">Resolution: <strong>{{width}}x{{height}}</strong></pre>
			</div>
		</div>
	</div>
</body>

</html>
