{% extends "error/index.html" %}

{% block icon %}
{% endblock %}

{% block before_language %}
	<style type="text/css">
		body::after { content: ""; z-index: -1; position: absolute; top: 0; left: 0; bottom: 0; right: 0; border: 1px solid #6ae; background: url(otc-star.svg) -8px bottom no-repeat; background-size: 10%; opacity: .3; }
		#message, #en_message, #de_message { padding-top: 0px; }
		#language { margin-right: 20px; font-size: 11px; }
		h1, h2, h3, h4, h5, h6 {
			font-weight: bold;
		}
	</style>

	<a style="float: right; margin: 5px 25px -5px -15px; height: 0px; padding: 0; font-size: 15px" href="?action=close">✕</a>
{% endblock %}

{% block message %}
	{{message}}
{% endblock %}

{% block en_message %}
	{{en_message}}
{% endblock %}

{% block de_message %}
	{{de_message}}
{% endblock %}

{% block footer %}
{% endblock %}

{% block en_footer %}
{% endblock %}

{% block de_footer %}
{% endblock %}
