{% extends "error/index.html" %}

{% block icon %}
	<div style="float: left; width: 160px; height: 100%; background: #f5f5f5 url(background.png) left bottom no-repeat; background-size: 100%;">
		<center><span class="glyphicon glyphicon-cog" style="margin-top: 20px; font-size: 96px; color: #77f"></span></center>
	</div>
{% endblock %}

{% block en_message %}
	{{en_message}}
{% endblock %}

{% block en_footer %}
	<a class="btn btn-primary btn-sm" style="width: 80px" href="?action=submit&result=yes">Yes</a>
	<a class="btn btn-primary btn-sm" style="width: 80px" href="?action=submit&result=no">No</a>
{% endblock %}

{% block de_message %}
	{{de_message}}
{% endblock %}

{% block de_footer %}
	<a class="btn btn-primary btn-sm" style="width: 80px" href="?action=submit&result=yes">Ja</a>
	<a class="btn btn-primary btn-sm" style="width: 80px" href="?action=submit&result=no">Nein</a>
{% endblock %}
