{% extends "error/index.html" %}

{% block icon_class %}glyphicon-flash{% endblock %}

{% block en_message %}
	<h1>Exception</h1>
	<p>
		This is an unexpected failure. Please inform your administrator.<br/>
		<font size="-3"><pre>{{en_message}}</pre></font>
	</p>
{% endblock %}

{% block de_message %}
	<h1>Exception</h1>
	<p>
		Es ist ein unerwarteter Fehler aufgetreten.  Bitte informieren Sie ihren Administrator.<br/>
		<font size="-3"><pre>{{de_message}}</pre></font>
	</p>
{% endblock %}
