/*.nav-right { float: right; }*/
/*.nav-right > li { float: right; }*/
.nav-links > li {
	float: left;
}
.nav-links > li > a {
	border-radius: 4px;
	padding: 3px 6px 4px;
}
.nav-links > li + li {
	margin-left: 2px;
}
.nav-links > li.active > a,
.nav-links > li.active > a:hover,
.nav-links > li.active > a:focus {
	color: #fff;
	background-color: #37b;
}
.nav-links > .active > a > .badge {
	background-color: #fff;
}

h1, h2, h3, h4, h5, h6 {
	color: #37b;
	font-weight: lighter;
}

pre {
	font-family: Mono;
}
