<head>
	<meta charset="utf-8" />

	<script type="text/javascript" src="../../scripts/jquery.js"></script>

	<script type="text/javascript" src="../../scripts/bootstrap.min.js"></script>
	<!--<link rel="stylesheet" media="all" href="../../styles/bootstrap.min.css" />-->
	<link rel="stylesheet" media="all" href="../../styles/bootstrap.css" />

	<script type="text/javascript" src="../../scripts/send.js"></script>
	<script type="text/javascript">
		jQuery(function ($) {

			// Binds callback for every form submission
			var __on_form_submitted = function () {
				send(this)
				return false
			}
			$('form').submit(__on_form_submitted)

		})
	</script>

	<script type="text/javascript" src="index.js"></script>
	<link rel="stylesheet" media="all" href="index.css" />
</head>
<body style="overflow: hidden; border: 0px solid #333; font: normal 12pt Sans; color: #333">
	{% block body %}

	{% block icon %}
	<div style="float: left; width: 160px; height: 100%; background: #f5f5f5 url(background.png) left bottom no-repeat; background-size: 100%;">
		<center><span class="glyphicon {% block icon_class %}glyphicon-fire{% endblock %}" style="margin-top: 20px; font-size: 90px; color: #37b; opacity: 1."></span></center>
	</div>
	{% endblock %}

	<div class="message-container" style="height: 100%{% if self.footer().strip() or self.en_footer().strip() or self.de_footer().strip() %}; padding-bottom: 50px{% endif %}">
		{% block before_language %}
		{% endblock %}

		{% if message or self.message().strip() %}
		{% else %}
			<ul id="language" class="nav nav-links" style="float: right; height: 0px; padding-right: 28px">
				<div style="padding-top: 5px"></div>
				{% if en_message or self.en_message().strip() %}
					<li class="en"><a data-toggle="tab" href="#en_message">EN</a></li>
				{% endif %}
				{% if de_message or self.de_message().strip() %}
					<li class="de"><a data-toggle="tab" href="#de_message">DE</a></li>
				{% endif %}
			</ul>
		{% endif %}

		<div class="tab-content">
			{% if message or self.message().strip() %}
				<div id="message" class="tab-pane active">
					<div style="height: 100%; overflow: auto; padding: 15px; background: transparent">
						{% block message %}
						{{message}}
						{% endblock %}
					</div>
					{% if not self.footer() or self.footer().strip() %}
						<div align="right" style="margin-bottom: -50px; height: 50px; overflow: hidden; padding: 10px 10px 0 0; background: transparent">
							{% block footer %}
								<a href="?action=close" class="btn btn-primary btn-sm">Close</a>
							{% endblock %}
						</div>
					{% endif %}
				</div>
			{% else %}
				{% if en_message or self.en_message().strip() %}
					<div id="en_message" class="tab-pane active">
						<div style="height: 100%; overflow: auto; padding: 15px; background: transparent">
							{% block en_message %}
							{% block en_title %}<h1>Error</h1>{% endblock %}
							{{en_message}}
							{% endblock %}
						</div>
						{% if not self.en_footer() or self.en_footer().strip() %}
							<div align="right" style="margin-bottom: -50px; height: 50px; overflow: hidden; padding: 10px 10px 0 0; background: transparent">
								{% block en_footer %}
									<!--<a href="?action=close" class="btn btn-default btn-sm">Close</a>-->
									<a href="?action=close" class="btn btn-primary btn-sm">Close</a>
								{% endblock %}
							</div>
						{% endif %}
					</div>
				{% endif %}
				{% if de_message or self.de_message().strip() %}
					<div id="de_message" class="tab-pane">
						<div style="height: 100%; overflow: auto; padding: 15px; background: transparent">
							{% block de_message %}
							{% block de_title %}<h1>Fehler</h1>{% endblock %}
							{{de_message}}
							{% endblock %}
						</div>
						{% if not self.de_footer() or self.de_footer().strip() %}
							<div align="right" style="margin-bottom: -50px; height: 50px; overflow: hidden; padding: 10px 10px 0 0; background: transparent">
								{% block de_footer %}
									<a href="?action=close" class="btn btn-primary btn-sm">Schließen</a>
								{% endblock %}
							</div>
						{% endif %}
					</div>
				{% endif %}
			{% endif %}
		</div>
	</div>

	{% endblock %}
</body>
